.callaction {
  padding: 40px 30px;
  border-radius: 4px;
  border-bottom: 2px solid #f2f2f2;
}
.cta-text {
  margin-top: 10px;
  text-align: left;
}

.cta-text h3 {
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .cta-text {
    text-align: center;
  }
}
